html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #1C1C1C;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 3.5rem;
    background-color: #1F2937;
    min-height: 50vh;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

span {
    color: #4ADF86;
}

.container__text {
    color: #D5D4D8;
}

.btn {
    margin: 2rem 0;
    padding: .5rem 1rem;
    background-color: #10B981;
    color: #fff;
}

.password-container__main {
    display: flex;
    gap: 2rem;
}

.password-container__secondary {
    height: 2.5rem;
    width: 50%;
    background-color: #273549;
}